:root {
    /*Color Pallette From https://in.pinterest.com/pin/51580358228009205/*/
    --outer-space: #293742;
    --dark-pastel-blue: #80A3C8;
    --bone: #E0D8CD;
    --wenge: #5E5A51;
    --dark-lava: #47423A;

    --header-height: 50px;
}

body {
    background-color: var(--dark-lava);
    font-family: sans-serif;
    font-size: 15px;
    color: black;
}

/* HEADER */
header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--outer-space);
    z-index: 999;
}

#nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-link a {
    text-decoration: none;
    color: white;
}

#nav-link a:hover {
    color: gray;
}

main {
    margin-top: calc(var(--header-height) + 2.5vh);
}

section {
    background-color: var(--dark-pastel-blue);
    padding: 1.5vw;
    margin: 2.5vh 10px;
    border-radius: 10px;
}

/* INTRO */
#intro {
    overflow: auto;
    text-align: center;
    height: 100%;
}

#name {
    font-family: "Archivo Black", sans-serif;
    font-size: 45px;
}

#subtitle {
    font-style: italic;
    font-size: 25px;
}

#social-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    flex-wrap: wrap;
    gap: 20px;
}

#social-links a {
    color: black;
    text-decoration: none;
}

#social-links a:visited {
    color: black;
}

#social-links a:hover {
    color: white;
}

#pfp {
    border: black 2px solid;
    border-radius: 40%;
    height: 40vh;
    float: left;
    margin-right: 25px;
}

/* WORK EXPERIENCE */

.job {
    display: flex;
    width: 100%;
}

.job span:first-child {
    font-weight: bold;
}

.job span:nth-child(3) {
    font-style: italic;
}

.job span:last-child {
    width: auto;
    margin-left: calc(100% - width);
}

/* PROJECTS */
#project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}



.project {
    height: auto;
    border: black 2px solid;
    border-radius: 10%;
    background-color: steelblue;
    text-align: center;
    padding-bottom: 20px;
}

.project img {
    width: 80%;
    height: 67%;
    object-fit: contain;
    background-color: var(--outer-space);
    border: 2px var(--bone) solid;
}

.project a {
    text-decoration: none;
}

.project a:visited {
    color: black;
}

.project a:hover {
    color: white;
}

.project a:hover img {
    border: 2px white solid;
}

footer {
    text-align: center;
}

/* Mobile devices */
@media (max-width: 767px) {
    #pfp {
        height: 25vh;
    }

    #intro {
        overflow: auto;
    }

    #name {
        font-size: 2rem;
    }

    #subtitle {
        font-size: 1rem;
    }

    .project img {
        width: 60%;
        height: auto;
    }
}